.social-btns {
    overflow: hidden;
}
.social-btns .btn-social,
.social-btns .btn-social:before,
.social-btns .btn-social .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn-social:before {
    top: 90%;
    left: -110%;
}
.social-btns .btn-social .fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.social-btns .btn-social.facebook:before {
    background: #3b5998;
}
.social-btns .btn-social.facebook .fa {
    color: #3b5998;
}
  
.social-btns .btn-social.twitter:before {
    background: #3cf;
}
.social-btns .btn-social.twitter .fa {
    color: #3cf;
}
  
.social-btns .btn-social.google:before {
    background: #dc4a38;
}
.social-btns .btn-social.google .fa {
    color: #dc4a38;
}
  
.social-btns .btn-social.linkedin:before {
    background: #0077b5;
}
.social-btns .btn-social.linkedin .fa {
    color: #0077b5;
}
  
.social-btns .btn-social.skype:before {
    background: #00aff0;
}
.social-btns .btn-social.skype .fa {
    color: #00aff0;
}
  
.social-btns .btn-social:focus:before,
.social-btns .btn-social:hover:before {
    top: -10%;
    left: -10%;
}
.social-btns .btn-social:focus .fa,
.social-btns .btn-social:hover .fa {
    color: #fff;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.social-btns {
    font-size: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.social-btns .btn-social {
    display: inline-block;
    background: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 30%;
    /* box-shadow: 0 7px 18px -7px rgba(0, 0, 0, 0.089); */
    opacity: 0.99;
}
.social-btns .btn-social:before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.social-btns .btn-social .fa {
    font-size: 24px;
    vertical-align: middle;
}
  